
- var pageTitle = "Hazeltine Co"

//- MIXINS

mixin testimonial(quote,person,link,company)
	div.testimonial-item
		blockquote &ldquo;#{quote}&rdquo;
		cite #[span.emoji.emoji-testimonial]#{person}, #[a(href=link class="external" target="_blank") #{company}]

mixin timelineItem(year, event)
		li.timeline-item
			div.year
				p #{year}
			div.visual
				p #[span.emoji(class!=attributes.class)]
			div.event
				p #{event}